body{
    background-image: url(../../assets/posters/fundo-netflix.jpg);
    background-position: center;
    background-size: cover;
}

/*!----- HEADER -----*/
header{
    display: flex;
    justify-content: space-between;
}
.entrar{
    margin-right: 5%;
    height: 100%;
}
.entrar a{
    width: 2.5rem;
    padding: 0.75rem 1rem;

    border-radius: 5px;
    background-color: var(--red-netflix);
    text-align: center;
    line-height: 5.5rem;

    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

/*!------ MAIN ------*/
main{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

    /*!------ container ------*/
    .container{
        margin-bottom: 5rem;
        width: 19.5rem;
        min-height: 27rem;
        padding: 3.75rem 4.25rem;

        display: flex;
        flex-direction: column;

        background-color: #000000c2;
        border-radius: 5px;
    }
    h1{
        margin-bottom: 1.75rem;
        
        font-size: 2rem;
    }
        /*!------ content ------*/
        .content{
            height: 22.5rem;
            display: flex;
            flex-direction: column;
        }

        /*?------ Form ------*/
        form{
            display: flex;
            flex-direction: column;
        }
        form input,
        select{
            margin-bottom: 1rem;
            padding: 0.5rem 1.25rem 0.5rem;
            height: 2rem;
            
            border: none;
            border-radius: 5px;

            background-color: #3d3d3d;
        }
        form input::placeholder{
            position: absolute;
            top: 1rem;
            
            color: #ffffff60;
        }
        select{
            height: 2rem;
            padding-left: 0.3rem;
            color: #ffffff60;
        }
        option[value=""][disabled] {
            display: none;
        }
        input:focus{
            background-color: #ffffffa2;
            color: black;
        }
        select:hover,
        select:focus{
            color: white;
        }
        form button{
            margin: 2rem 0rem 0.5rem;
            padding: 1rem;

            background-color: var(--red-netflix);
            
            border: none;
            border-radius: 5px;

            font-size: 1rem;
            text-align: center;
        }