/*!------ GERAL ------*/
@font-face {
    font-family: Netflix Sans;
    src: url(../assets/fonte/netflix-sans-font/NetflixSans-Regular.otf);
}
*{
    margin: 0;
    padding: 0;

    font-family: Netflix Sans;
    color: white;
}
.page{
    width: 100%;
}
.imagem{
    width: 100%;
}
header, main, .banner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*!------ HEADER ------*/
header{
    height: 100px;

    display: flex;
    justify-content: center;
    background-color: black;
}
aside{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
    /*!----- leftheader -----*/
    .leftHeader{
        justify-content: center;
    }
    .logo{
        width: 200px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        display: flex;
        gap: 15px;
        
        list-style: none;
    }
    nav ul a{
        color: white;

        text-decoration: none;
    }
    
    /*!----- rightheader ------*/
    .rightHeader{
        justify-content: end;
        gap: 15px;
    }
    .lupa{
        height: 30px;
    }
    .profilePhoto{
        height: 60px;
    }
    .seta{
        margin-right: 70px;
        height: 20px;
    }

/*!------ MAIN ------*/
main{
    height: 100vh;
}   
    /*!------ banner1 ------*/
    #banner1{
        height: 680px;

        background-image: url(../assets/images/1banner.png);
        background-size: cover;
        background-position: end;
        background-repeat: no-repeat; 
    }
    .contentBanner h2, .contentBanner h3, .fBButtons{
        margin-left: 25px;
    }
    .contentBanner h1, .contentBanner h3{
        margin-bottom: 25px;
    }
    .contentBanner{
        width: 40%;
        
        padding: 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        background: #000;
        background: linear-gradient(90deg, #000 36%, #ffffff00 100%);
    }
    .contentBanner h1{  
        font-size: 7em;
    }
    .contentBanner p{
        margin-bottom: 20px;
        
        font-size: 1.2em; 
    }
    .fBButtons{
        display: flex;
        gap: 25px;
    }
    .fBButtons button{
        height: 55px;
        padding: 15px;
        
        display: flex;
        align-items: center;
        
        border: none;
        border-radius: 6px;
        background-color: #4a4a4a99;
        
        font-size: 1em;
    }
    .fBButtons button img{
        height: 20px;
        
        margin-right: 10px;
    }

    /*!------ series ------*/
    .series{
        width: 100%;

        padding: 0px 20px;
        background-color: #000;
        overflow: hidden;
    }
    .seriesList h3{
        height: 100px;
        
        line-height: 100px;

        background-color: black;
    }
    .seriesCapas{
        display: flex;
        justify-content: space-between;
        gap: 20px;

    }
    .seriesCapas img{
        width: 100%;
    }
    #topSemana{
        margin-bottom: 80px;
    }

    /*!------ banner2 ------*/
    #banner2{
        height: 95%;
        
        background-image: url(../assets/images/2banner.png);
        background-size: cover;
        background-position: end;
        background-repeat: no-repeat; 
    }

    /*!------ categorias ------*/
    .categorias{
        width: 100%;
        
        padding: 0px 20px;
        background-color: #000;
    }
    .categorias h3{
        height: 80px;
        
        line-height: 80px;
        
        background-color: black;
    }
    .categoriasList{
        margin-bottom: 40px;

        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    .categoriasList div{
        height: 100px;
        width: 100%;

        background-color: #f50000;
        
        text-align: center;
        line-height: 100px;
        font-size: 1.2em;
        font-weight: 600;
    }
        /*?-- cat --*/
        #cat1{
            background-color: #d06afe;            
        }
        #cat2{
            background-color: #7052ff;
        }
        #cat3{
            background-color: #ffff51;
        }
        #cat4{
            background-color: #68da3d;
        }
        #cat5{
            background-color: #ff7361;
        }
        #cat6{
            background-color: #ff81fe;
        }
        #cat7{
            background-color: #7052ff;
        }
                
/*!------ FOOTER ------*/
footer{
    height: 1300px;
    width: 100%;
    background-color: #ff0000;
}